*{
	margin: 0;
	padding: 0;
}
html{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 0 auto;
	text-align: center;
	color:  #666633;
	height: 100%;
}
main{
	margin: 0 5rem;
}
h1{
	font-size: 2.5rem;
	margin-top: 1em;
}
section{
	margin-bottom: 100px;
}
h2{
	font-size: 2rem;
	margin: 2rem auto;
	text-align: center;
	background-color: rgba(204, 204, 153);
	color: rgba(102, 102, 51);
	border: 3px solid rgba(153, 0, 51, 0.9);
	padding: 1em;
}

img{
	max-width: 100%;
}
li{
	list-style-type: none;
}

.grid-item{
	border: 1px solid rgba(204, 204, 153);
	border-radius: 0.75rem;
	box-shadow: 0.4rem 0.4rem 20px rgba(0, 0, 0, 0.1);
	transition-duration: 1s;
}
.grid-item:hover{
	box-shadow: 0.8rem 0.8rem 40px 6px rgba(204, 204, 153, 0.5);
	transition-duration: 1s;
	animation: scale 0.75s linear 1;
	}
	@keyframes scale{
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.98);
		}
		100% {
			transform: scale(1);
		}
	}
	.grid-item:first-child:hover {
		box-shadow: 0.8rem 0.8rem 40px 6px rgba(102, 102, 51, 0.4);
		transition-duration: 1s;
	}
	
	.grid-item:first-child {
	border: 1px solid rgba(102, 102, 51);
	}
	.grid-item > h3 {
		min-height: 2.5em;
		background-color: rgba(204, 204, 153);
		color:  rgba(102, 102, 51);
		border-top-right-radius: 0.75rem;
		border-top-left-radius: 0.75rem;
		padding: 1rem 1rem 0;
		}
	.grid-item:first-child > h3 {
	background-color: rgba(102, 102, 51);
	color: white;
   }

	.grid-item > p{
	padding: 0 1rem 1rem;
	

}

/*Grid*/
#grid-floats{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 2%;
	row-gap: 1%;

}
#grid-floats > .grid-item:first-child {
	grid-column-start: span 2;
}

/*Flex*/
#grid-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2%;
}
#grid-flex > .grid-item{
	width: 23%;
	margin-bottom: 2vw;
}
#grid-flex > .grid-item:first-child{
	width: 48.5%;
}


@media (max-width:1200px)  { 
} 


/*Tablet*/
@media (max-width:992px)  { 
	html {
		font-size: 14px;
	}
	main{
		margin: 0 3rem;
	}
	.grid-item {
		border: 1px solid rgba(204, 204, 153);
		box-shadow: 0.4rem 0.4rem 20px rgba(0, 0, 0, 0.1);
		}
	.grid-item:first-child, 
	.grid-item:nth-child(2) {
		border: 1px solid rgba(102, 102, 51);
	}
	
	.grid-item:nth-child(2):hover{
		box-shadow: 0.4rem 0.4rem 40px 6px rgba(102, 102, 51, 0.5);
	}
	.grid-item:nth-child(2) > h3 {
		background-color: rgba(102, 102, 51);
		color: white;
	}
	
	
		/*Grid*/
		#grid-floats{
			grid-template-columns: repeat(6, 1fr);
		}
		#grid-floats > .grid-item {
			grid-column-start: span 2;
			grid-column-end: span 2;
		}
		#grid-floats{
			grid-template-columns: repeat(6, 1fr);
		}
		#grid-floats > .grid-item:first-child{
			grid-column-start: 1;
  			grid-column-end: 4;
		}
		#grid-floats > .grid-item:nth-child(2) {
			grid-column-start: 4;
  			grid-column-end: 7;
		}

		
		/*Flex*/
		#grid-flex {
			justify-content: space-between;
			gap: 0;
		}
		#grid-flex > .grid-item:first-child, 
		#grid-flex > .grid-item:nth-child(2) {
		width: 49%;
		}
		#grid-flex > .grid-item {
			width: 31%;}
}

/* Phone */ 
@media (max-width:767px)  { 
	html {
		font-size: 12px;
	}
	main{
		margin: 0 2rem;
	}
	section{
		margin-bottom: 250px;
	}
	.grid-item,
	.grid-item:nth-child(2) {
		border: 1px solid rgba(204, 204, 153);
		box-shadow: 0.4rem 0.4rem 20px rgba(0, 0, 0, 0.1);
	}
	.grid-item:first-child {
		border: 1px solid rgba(102, 102, 51);
	}
	.grid-item:nth-child(2):hover{
		box-shadow: 0.4rem 0.4rem 40px 6px rgba(204, 204, 153, 0.5);
	}
	
	.grid-item > h3,
	.grid-item:nth-child(2) > h3 {
		background-color: rgba(204, 204, 153);
		color:  rgba(102, 102, 51);
	}
	

	/*Grid*/
	
	#grid-floats{
		grid-template-columns: repeat(2, 1fr);
	}
	#grid-floats > .grid-item {
		grid-column-start: auto;
		grid-column-end: auto;
	}
	#grid-floats > .grid-item:first-child {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	
	#grid-floats > .grid-item:nth-child(2) {
		grid-column-start: auto;
		grid-column-end: auto;
	}

	/*Flex*/
	#grid-flex > .grid-item,
	#grid-flex > .grid-item:nth-child(2) {
		width: 48%;
	}
	#grid-flex > .grid-item:first-child {
		width: 99%;
	}


	@media (max-width:467px){
		main{
			margin: 0 1rem;
	}
/*	{animation: rotate 4s linear infinite;
}


@keyframes rotate {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}*/