@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@1&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-weight: normal;
   color: #000;
}
button{
	color: #01689b;
}
html{
	font-size: 1.265625rem;
   line-height: 1.3827160494;
	font-family: "ropa sans";
}
body{
	
	margin: 0 auto;
}
header {
	max-width: 1200px;
	margin: 0 auto;
	
}
.skiplinks {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 50%;
	visibility: hidden;
	padding: 0 16px;
}
.logo__wrapper{
	margin-inline-start: calc(50% - 25px);
	width: 100%;
	max-width: 1200px;
}
.logo .logo__figure {
		display: flex;
		align-items: flex-start;
		margin: 0;
	}
.logo__text{
	line-height: 1.1;
   width: 100%;
   max-width: 300px;
   padding: 20px 10px 10px;
}
@media (min-width: 506px)
	{
		
	}
@media  (min-width: 767px)
	{
		.logo__text{
			padding: 50px 12px 25px;
	  }
	}
