body{
	background: linear-gradient(90deg, #5D4037 0%, #795548 100%);
	font-family: 'Courier New', Courier, monospace;
}
.container{
	container: flex;
	justify-content: space-between; 
	
	max-width: 900px;
	margin: 0 auto;
	align-items: center;
}
.header{
	text-align: center;
	background-color: #D7CCC8;
	border-radius: 25px;
	padding: 0.5rem;
}
figure{
	margin: 0.5rem;
}
h1{
	margin: 0.5rem;
}
.header-position{
	margin: 0;
}
.header-photo{
	display: block;
	margin: auto;
	max-width: 25%;
	border: 5px solid #5D4037;
	border-radius: 30%;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}
.header-photo:hover{
	border: 5px solid #452e27;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
	transition: 0.5s;

}
.header-photo:active{
	border: 5px solid #D7CCC8;
	transition: 0.5s;
	box-shadow: none;
}
.header-link{
	text-decoration: none;
	color: black;
	border-radius: 10%;
}
.header-link:hover{
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}
.header-link:active{
	box-shadow: none;
}
/*End of header styles*/

.line{
	height: 1px;
	color: #D7CCC8;
}
main{
	text-align: left;
	border-radius: 10%;
	padding: 1rem;
}
.experience{
	margin: 0 3rem 2rem 3rem;

}
.experience__flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.experience__title{
	margin: 0;
}
.experience__description{
	margin: 0;
}
.main a{
	text-decoration: none;
	color: black;
	font-style: italic;
}
.main a:hover{
	text-decoration: underline;
	color: black;
	font-style: italic;

}

/*End of main styles*/
footer{
	background-color: #D7CCC8;
	border-radius: 10px;
	padding: 0.5rem;
	text-align: center;
}
.footer__list{
	list-style: none;
	padding: 0.5rem;


}
.footer__link{
	color: black;
	text-decoration: none;

}
footer ul{
	padding-inline-start: 0;
}

