
@media (min-width: 506px)
	{
		.four-items>ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.nav-item{
			width: 50%;
		}
		.banner__flex{
			width: 47%;
		}
		.banner__text{
			font-size: 4vw;
		}
		.banner__highlighted-text{
			font-size: 4vw;
		}
		.banner{
			height: 30vw;
			border: 0.4rem solid #cbd2e3;
		}
	}
@media  (min-width: 767px)
	{
		html{
			font-size: 16px;
		}
	
	.logo__text{
			padding: 50px 12px 25px;
	}
	#navbar .wrapper {
		justify-content: space-between;
	}
	.toggle-nav{
		display: none;
	}
	.main-nav ul {
		display: flex;
		overflow: visible;
		margin: 1rem;
		align-self: center;
		align-content: center;
		vertical-align: middle;
   }
	.top-task-navigation a{
		padding-bottom: 0.5rem;
		display: block;
	}
	
	#search-form{
		position: absolute;
		right: 0;
		top: 20px;
		z-index: 100;
		align-self: center;
	}
	.search-form{
		position: relative;
	}
	.main-nav a{
		padding: 0.5rem 0.25rem;
   	border: none;
		color: #fff;
	}
	.header-image > .wrapper {
		
		flex-wrap: wrap;
		max-width: 1200px;
		align-items: center;
		justify-content: flex-start;
		padding: 2rem 1rem 3rem;
		position: relative;
		z-index: 10;
	}
	
	.payoff{
		flex: 0 0 50%
	}
	.column{
		width: 25%;
	}
	@media  (min-width: 999px)
	{
		html{
			font-size: 18px;
			line-height: 1.5;
		}
		.top-task-navigation {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 45%;
			max-width: 45%;
			margin-left: 0;
			margin-bottom: 0;
		}
		body{
			margin: 0 auto;
			
		}
		.nav-item{
			width: 33%;
		}
		.banner__flex{
			width: 33%;
			justify-content: flex-start;
		}
		.aside__flex{
			justify-content: flex-start;
		}
		.banner__text{
			font-size: 2vw;
		}
		.banner__highlighted-text{
			font-size: 3vw;
		}
		.banner{
			height: 18vw;
			border: 0.2rem solid #cbd2e3;
		}
	}
	@media  (min-width: 1200px)
		{
			html{
			font-size: 20px;
			line-height: 1.5;
			}
		}