
.site-footer{
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	flex-direction: column;
}
footer{
	background-color: #01689b;
}
footer>.wrapper{
	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 2rem 1rem;
}
footer>.wrapper a, h2{
	color: #fff;
}
.payoff{
	flex: 0 1 100%;
	color: #fff;
	padding: 0 1rem 1.5rem;
	margin-bottom: 2rem;
}
.site-footer a{
	transition-duration: 0.4s;
	padding: 0.5rem 0.25rem;
	display: block;
}
.column a:hover{
	text-decoration: underline;
	transition-duration: 0.4s;
}
.column{
	width: 50%;
}
.site-footer .column h2 {
	font-size: 1.6018066406rem;
	line-height: 1.2485901539;
	font-weight: normal;
	margin-bottom: 1rem;
}
.languages{
	background-color: #fff;
	width: 100%;
}
.languages__wrapper{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: flex-start;
	padding: 1.5rem 1rem 1rem;
	max-width: 1200px;
}
#language-menu-label{
	margin: 0 0 1rem 0;
}
.languages__list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.languages__link {
	display: block;
	padding: 20px;
	margin: 0.4rem 0.8rem 0.4rem 0;
	text-decoration: none;
	border: 1px solid #01689b;
	color: inherit;
	border-radius: 0;
}
.languages__link:hover{
	background-color: #01689b;
	color: #333;
}

@media  (min-width: 767px)
	{
	.payoff{
		flex: 0 0 50%
	}
	.column{
		width: 25%;
	}
}