.main-bottom__flex{
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	margin-right: 1rem;
}

.posts__title{
	font-weight: bold;
	font-size: 1.6rem;
	color: black;
	margin: 1rem 0;
}
.posts__subtitle:hover, .more:hover{
	text-decoration: underline;
	color: #01496d;
}

.posts__item:active, .more:active{
	border: 0.15rem dashed black;
}
.posts:before {
	display: block;
	width: 100%;
	margin:1rem 0;
	content: " ";
	border-top: 1px solid #e1e1e1;
}
.posts__date{
	font-weight: bold;
	padding: 0.5rem 0;
}

.posts__flex{
	display: flex;
	flex-wrap: wrap;
	row-gap: 2rem;
	margin-bottom: 1.5rem;
	justify-content: space-between;
}
.posts__item{
	width: 100%;
}
.posts__img{
	max-width: 100%;
}
.posts__subtitle{
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.5rem;
	color: #01689b;
}
.posts__text{
font-size: 0.9rem;
}
.more{
	display: block;
	color: #01689b;
	font-size: 1.1rem;
	font-weight: bold;
	margin: 2rem 0;
}

@media (min-width: 506px)
	{
		.posts__item{
			width: 48%;
		}
	}
@media  (min-width: 767px)
	{
		
	}
@media  (min-width: 999px)
	{
		.posts__item{
			width: 31%;
		}
	}
@media  (min-width: 1200px)
	{
		
	}

