
.header-image > .wrapper {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	max-width: 1200px;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 2rem 1rem 5.5rem;
	position: relative;
	z-index: 10;
}
.header-image{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-image{
	background: url(../source/verkiezing.jpeg) center;
	background-size: cover;
}
.top-task-navigation > h2{
	font-size: 1.6rem;
	margin: 0 0 1rem 0;
	color: black;
}
.top-task-navigation > ul{
	margin-left: 1rem;
}
.top-task-navigation a{
	color: #01689b;
}
.top-task-navigation a:hover{
	text-decoration: underline;
}
.top-task-navigation a:active{
	border: 0.15rem dashed black;
}
.top-task-navigation li:not(:last-child) {
	margin: 0 0 0.5rem 0;
}
.top-task-navigation{
	width: 100%;
	max-width: 426px;
	padding: 1.5rem;
	background-color: #fff;
}
.editorial-navigation{
	background-color: #f3f3f3;
	padding:  4rem 0rem 2.5rem 0rem;
}
.four-items>ul{
	display: flex;
	flex-direction: column;
}
.nav-item{
	margin-bottom: 1rem;
	padding: 0 0.5rem 1rem;
}
.editorial-navigation h3 {
	font-size: 1.2rem;
	line-height: 1.2485901539;
	font-weight: normal;
	color: #01689b;
	margin: 0rem 0rem 0.5rem 0rem;
}
.editorial-navigation h3:hover {
	text-decoration: underline;
}

.editorial-navigation a{
   line-height: 1.3333333333;
   margin-bottom: 1rem;
}
.article{
		padding: 3rem 1rem 3rem;
	}


@media (min-width: 506px)
	{
		.four-items>ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.nav-item{
			width: 50%;
		}
		
	}
@media  (min-width: 767px)
	{
	
	.main-nav ul {
		display: flex;
		overflow: visible;
		margin: 1rem;
		align-self: center;
		align-content: center;
		vertical-align: middle;
   }
	.top-task-navigation a{
		padding-bottom: 0.5rem;
		display: block;
	}
	
	.main-nav a{
		padding: 0.5rem 0.25rem;
   	border: none;
		color: #fff;
	}
	.header-image > .wrapper {
		
		flex-wrap: wrap;
		max-width: 1200px;
		align-items: center;
		justify-content: flex-start;
		padding: 2rem 1rem 3rem;
		position: relative;
		z-index: 10;
	}
	
	@media  (min-width: 999px)
	{
		.top-task-navigation {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 45%;
			max-width: 45%;
			margin-left: 0;
			margin-bottom: 0;
		}
		.nav-item{
			width: 33%;
		}}
		}