/*p{
	display: inline-block;
}
ul li

ul > li all li elements in first level 


.box + .hidden :next element step down


* everything (wildmark) 
*/
.extra{
	color: red;
}
.list{
	color:green;
}
.extra.list{
	color: yellow;
}

ul p{
	color: green;
}
p{
	color: blue;
}
ul > p{
 color: blueviolet;
}
ul p{
	color: green;
	background: red url() center/cover; 
	=
	background-color: red;
	background-image: url();
	background-position: center;
	background-size: cover;
	????  aspect-ratio: 0,5;
}

